@model TwitterSentimentsCore.Models.Request

@{
    ViewBag.Title = "Create";
}

<h2>Search by topic</h2>

<p>
    Use the form below to make a request to the Twitter Sentiments web application. Simply 
    specify the topic of interest, as well as how many tweets you would like analyzed.
</p>

<form asp-controller="Requests" asp-action="CreateTopicRequest" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            @*<label asp-for="TwitterHandle" class="col-md-2 control-label"></label>*@
            <label class="col-md-2 control-label">Topic</label>
            <div class="col-md-10">
                <input asp-for="TwitterHandle" class="form-control" placeholder="e.g. Windows 10"/>
                <span asp-validation-for="TwitterHandle" class="text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Count" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>